<!DOCTYPE html>
<html>
<head>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <meta charset="UTF-8" /> -->
  <title>page</title>
</head>
<body>

  <h1>Home</h1>
  <a href="/signup">Sign Up!</a>
  <br>
  <a href="/login">Log In!</a>
  <form action="/logout" method="POST">
    <button>Logout</button>
  </form>
</body>
</html>
